.contact {
  width: 50%;
  height: 601px;
  margin: 10px auto;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact h1 {
  margin-bottom: 5px;
}

.contact p {
  width: 350px;
  text-align: center;
}

.input-contact {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 10px;
  border-color: #aaa;
  border-radius: 10px;
}

.submit-contact {
  width: 104%;
  height: 9%;
  margin-top: 8px;
  padding: 10px 0;
  cursor: pointer;
  background-color: #ffbf00;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  justify-content: center;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.submit-contact:hover {
  background-color: #ebb000;
}

.submit-contact:active {
  background-color: #ebb000;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}
