@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* modal login register css  --satu--*/ 
.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.65); 
  }
.rmodal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.65); 
  }
  
   .modal-content {
    /* background-color: #fefefe; */
    margin: 15% auto; 
    /* padding: 20px; */
    /* border: 1px solid #888; */
    /* width: 80%;  */
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    /* border-radius: 5px; */
  } 
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  div.containers{
    background: white;
    /* min-width: 320px; */
    min-height: 60vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .containers h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
  }
  .containers h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(10deg,black, rgb(96, 66, 9));
  }
  
  .modal form{
    display: flex;
    flex-direction: column;   
  }
  .input-fields{
    position: relative;
  }
  form .input-fields{
    margin-bottom: 1.5rem;
  }
  .input-fields .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .input-fields .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(10deg,black, rgb(96, 66, 9));
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
  }
  .input-fields input:focus ~ .underline::after{
    transform: scaleX(1);
  }
  .input-fields input{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border: none;
    outline-style: none;
  }
  .input-fields ::placeholder{
    color: rgba(0, 0, 0, 0.5);
  }
  
  .modal form button, .rmodal form button{
    margin: 2rem 0;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,black, rgb(96, 66, 9));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 900;
    border-radius: 4px;
    transition: all 0.3  ease;
  }
  .modal form button:hover,.modal form button:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right,black, rgb(96, 66, 9));
  }
  .bb{
    display: flex;
    justify-content: center;
  }
  .register a{
    color: blue;
  }
  
  .bawah{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .bawah span.register {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
  }
  
  .or-container {
    display: flex;
    align-items: center;
    width: 100%;  
    
  }
  
  .or-container .line {
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px;
  }
  
  .or-container .text {
    padding: 0 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
  }
  
  .bawah .social-field{
   padding: 0.4rem;
   border-radius: 4px;
   font-size: 0.85rem;
   /* width: 100%; */
   cursor: pointer;
   margin-top: 1rem;
  }
  .bawah .social-field a i{
    margin: 0 0.5rem;
  }
  .bawah .social-field a {
    text-decoration: none;
    color: white;
  }
  .bawah .social-field.google {
    background: linear-gradient(to right, #4285F4, #3367D6);
  
  }