@media (max-width: 768px) {
    /* update navbar hamburger */
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: black;
      position: absolute;
      top: 60px;
      left: 0;
  }
  
  .nav-links ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .nav-links ul li {
    padding: 10px 0;
  }
  
  .hamburger-menu {
    display: block;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  .dropdown-content {
    position: static;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: relative;
  }
  
  .nav-links.active {
    display: block; /* Show as block on smaller screens when active */
  }

  .modal-content, .rmodal-content {
    width: 80%;
  }
    /*end update navbar hamburger */

    
    .company-name {
        font-size: 80px; 
        top: 240px;
        left: 90px; 
        width: 80%;
        text-align: center; 
      }
    
      .company-description {
        top: 500px; 
        left: 20px; 
        width: 90%; 
        text-align: center; 
        padding: 0 10px; 
      }
    
      .more-info-button {
        top: 650px; 
        left: 300px; 
        display: block; 
        margin: 0 auto; 
        text-align: center; 
      }
    
      .more-info-button a {
        text-decoration: none;
        
      }

     
      .outlets-container {
        flex-direction: column;
        align-items: center;
      }
    
      .outlets-title {
        font-size: 28px;
        margin-bottom: 20px;
      }
    
      .outlets-grid {
        flex-direction: column;
        gap: 20px;
      }
    
      .outlet-column {
        min-width: 100%;
      }
      .content-container {
        flex-direction: column;
      }
    
      .column {
        min-width: 100%;
        box-sizing: border-box;
      }
    
      .business-background-title,
      .project-capstone-title,
      .dashboard-title {
        font-size: 20px;
      }
      
      .business-background-description,
      .project-capstone-description,
      .dashboard-description {
        font-size: 14px;
        text-align: start;
        letter-spacing: 0;
        margin-right: 0;
        padding-left: 0;
      }
      .business-background-title,.business-background-description{
        padding-left: 30px;
      }
      
      .business-background-content,
      .project-capstone-content {
        padding: 10px;
      }
      
      .background-image {
        width: 100%;
        height: auto;
      }
      
      .project-details{
        width: 100%;
        margin-left: 0px;
      }

      .contact h1 {
        font-size: 24px;
        text-align: center;
      }
    
      .contact p {
        font-size: 14px;
        text-align: center;
      }
    
      .contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
      }
    
      .contact form .input-contact {
        width: 80%;
        margin-bottom: 10px;
      }
    
      .contact form .submit-contact {
        width: 80%;
        font-size: 16px;
      }
      
    
    }

     

@media (max-width: 480px) {
    .company-name {
      font-size: 50px;
      top: 250px;
      left: 30px;
    }
  
    .company-description {
      top: 500px;
      left: 10px;
      width: 90%;
    }
  
    .more-info-button {
      top: 650px;
      left: 90px;
    }
    .modal-content, .rmodal-content {
        width: 70%;
        margin: 10% auto;
      }
    
      .input-contact, .submit-contact {
        width: 100%;
        box-sizing: border-box;
      }
    
      .modal-content form {
        padding: 20px;
      }
    
      .modal-content h2, .rmodal-content h2 {
        font-size: 24px;
      }
    
      .input-fields {
        width: 100%;
      }
    
      .underline {
        width: 100%;
      }
    
      .modal-content button, .rmodal-content button {
        width: 100%;
      }
    
    
    /* Ensure input fields and buttons fill the modal */
    .input-fields input, .input-contact {
      width: 100%;
    }
    
    .submit-contact {
      width: 100%;
      display: block;
      margin: 10px 0;
    }

    .contact{
      width: 70%;
    }
    
  }

  /* untuk css ini jangan diutak-atik ges */