/* Mengatur box-sizing untuk memastikan padding dan border termasuk dalam ukuran total elemen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Gaya umum untuk bagian halaman dengan gambar latar */
.bagian5, .bagian4, .bagian3, .bagian2, .chart-bagian1 {
  padding: 30px;
  background-image: url("../images/BgFix.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}


/* Header dashboard */
.header-dash {
  background-image: url("../images/kopibanner.png");
  background-size: cover;
  position: relative;
  width: auto;
  height: 500px;
  left: 0px;
  top: 0px;
}

/* Kontainer chart */
.chart-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
}

/* Kotak chart */
.chart-box {
  position: relative;
  width: 80%;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin: 30px;
}
.chart-box canvas {
  height: 300px;
  width: 100%;
}

/* Judul chart */
.chart-title {
  background-color: #fdd55e;
  padding: 10px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Kontainer filter */
.checkbox-container, .date-filter-container, .filter-button-container {
  text-align: center;
  margin-bottom: 10px;
}
.checkbox-container label, .date-filter-container label {
  display: inline-block;
  margin-right: 10px;
}
.bulan-filter-container, .sales-store-location {
  text-align: center;
  margin-bottom: 10px;
}

/* Judul dan deskripsi header dashboard */
.header-dash-title {
  position: absolute;
  width: 309px;
  height: 58px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffbf00;
}
.header-dash-description {
  margin-top: 30px;
  position: absolute;
  width: 576px;
  height: 86px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #d2d2d2;
}
.tablebox{
    width: 100%;
}
#datatable_wrapper {
    text-align: center; /* Posisikan tabel di tengah */
}

#datatable {
    margin: 0 auto; /* Atur margin untuk memposisikan tabel di tengah */
}

.pusat {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #111827;
  width: 260px;
  padding: 24px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.main-content {
  background-color: #eeeeee;
  flex-grow: 1;
}

.sidebar .description-sidebar {
  font-weight: 700;
  font-style: 18px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .header-sidebar .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.sidebar .header-sidebar .illustration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  position: center;
  margin: 10px 0 22px 0;
  box-sizing: border-box;
}

.sidebar .main-sidebar .list-item .description-menu {
  font-weight: 400;
  font-style: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.sidebar .main-sidebar .list-item .icon{
  margin-right: 10px;
  width: 20px;
  color: #FFFFFF;
  padding: 0%;
}

.sidebar .main-sidebar .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  width: 212px;
  box-sizing: border-box;
}

.sidebar .main-sidebar .list-item:hover {
  background-color: #ff9900;
  transition: all ease-in .2s;
}
