/* Mengatur box-sizing untuk memastikan padding dan border termasuk dalam ukuran total elemen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Gaya umum untuk bagian halaman dengan gambar latar */
.bagian5, .bagian4, .bagian3, .bagian2, .chart-bagian1 {
  padding: 30px;
  background-image: url("../images/BgFix.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}


/* Header dashboard */
.header-dash {
  background-image: url("../images/kopibanner.png");
  background-size: cover;
  position: relative;
  width: auto;
  height: 500px;
  left: 0px;
  top: 0px;
}

/* Kontainer chart */
.chart-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
}

/* Kotak chart */
.chart-box {
  position: relative;
  width: 80%;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin: 30px;
}
.chart-box canvas {
  height: 300px;
  width: 100%;
}

/* Judul chart */
.chart-title {
  background-color: #fdd55e;
  padding: 10px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Kontainer filter */
.checkbox-container, .date-filter-container, .filter-button-container {
  text-align: center;
  margin-bottom: 10px;
}
.checkbox-container label, .date-filter-container label {
  display: inline-block;
  margin-right: 10px;
}
.bulan-filter-container, .sales-store-location {
  text-align: center;
  margin-bottom: 10px;
}

/* Judul dan deskripsi header dashboard */
.header-dash-title {
  position: absolute;
  width: 309px;
  height: 58px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffbf00;
}
.header-dash-description {
  margin-top: 30px;
  position: absolute;
  width: 576px;
  height: 86px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #d2d2d2;
}
.tablebox{
    width: 100%;
}
#datatable_wrapper {
    text-align: center; /* Posisikan tabel di tengah */
}

#datatable {
    margin: 0 auto; /* Atur margin untuk memposisikan tabel di tengah */
}

.pusat {
  display: flex;
  min-height: 120vh;
}

.sidebar {
  background-color: #111827;
  width: 260px;
  padding: 24px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.main-content {
  background-color: #eeeeee;
  flex-grow: 1;
  /* background-image: url("../images/BgFix.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed; */
}

.sidebar .description-sidebar {
  font-weight: 700;
  font-style: 18px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .header-sidebar .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.sidebar .header-sidebar .illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  position: center;
  margin: 10px 0 22px 0;
  box-sizing: border-box;
}

.sidebar .main-sidebar .list-item .description-menu {
  font-weight: 400;
  font-style: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.sidebar .main-sidebar .list-item .icon{
  margin-right: 10px;
  width: 20px;
  color: #FFFFFF;
  padding: 0%;
}

.sidebar .main-sidebar .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-radius: 8px;
  width: 212px;
  box-sizing: border-box;
}

.sidebar .main-sidebar .list-item:hover {
  background-color: #ff9900;
  transition: all ease-in .2s;
}

.footer {
  background-color: #000;
  padding: 35px 80px;
}

.footer-content {
  display: flex;
  gap: 20px;
}

.social-media {
  width: 26%;
}

.social-media-content {
  display: flex;
  gap: 17px;
  flex-grow: 1;
}

.logo {
  width: 96px;
  height: 96px;
}

.social-media-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.social-media-title {
  color: #fff;
  font: 300 16px Inter, sans-serif;
}
.social-media-icons {
  display: flex;
  margin-top: 18px;
  gap: 8px;
}

.social-media-icon {
  width: 16px;
}

.contact-info {
  width: 74%;
  margin-left: 20px;
}

.contact-info-content {
  display: flex;
  margin-top: 31px;
  align-items: flex-start;
  gap: 20px;
  font-weight: 400;
}

.copyright {
  color: #797979;
  align-self: end;
  margin-top: 50px;
  margin-left: 100px;
  flex-grow: 1;
  font: 15px Inter, sans-serif;
}

.contact-details {
  color: #fff;
  text-align: right;
  align-self: start;
  width: 240px;
  font: 16px Inter, sans-serif;
}

.phone {
  font-weight: 300;
}

.email {
  font-weight: 300;
  text-decoration: underline;
}

@media (max-width: 768px) {
.footer {
  background-color: #000;
  padding: 35px 80px;
}

.footer-content {
  display: flex;
  gap: 20px;
}

.social-media {
  width: 26%;
}

.social-media-content {
  display: flex;
  gap: 17px;
  flex-grow: 1;
}

.logo {
  width: 96px;
  height: 96px;
}

.social-media-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.social-media-title {
  color: #fff;
  font: 300 16px Inter, sans-serif;
}
.social-media-icons {
  display: flex;
  margin-top: 18px;
  gap: 8px;
}

.social-media-icon {
  width: 16px;
}

.contact-info {
  width: 74%;
  margin-left: 20px;
}

.contact-info-content {
  display: flex;
  margin-top: 31px;
  align-items: flex-start;
  gap: 20px;
  font-weight: 400;
}

.copyright {
  color: #797979;
  align-self: end;
  margin-top: 50px;
  margin-left: 100px;
  flex-grow: 1;
  font: 15px Inter, sans-serif;
}

.contact-details {
  color: #fff;
  text-align: right;
  align-self: start;
  width: 240px;
  font: 16px Inter, sans-serif;
}

.phone {
  font-weight: 300;
}

.email {
  font-weight: 300;
  text-decoration: underline;
}
/*END FOOTER*/

#copyright {
  color: rgb(206, 197, 197);
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

.footer {
  width: 100%;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 60px;
  height: 60px;
}

.social-media-icons {
  padding-right: 5px;
  margin-top: 8px;
}

.social-media-icon {
  width: 10px;
  height: 10px;
}

.social-media-title {
  font-size: 10px;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 10px;
}

.contact-info-content span {
  font-size: 10px;
}

#copyright {
  font-size: 10px;
}
}

@media (max-width: 450px) {
  .footer {
    width: 100%;
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .social-media-icons {
    padding-right: 5px;
    margin-top: 8px;
  }

  .social-media-icon {
    width: 10px;
    height: 10px;
  }

  .social-media-title {
    font-size: 10px;
  }

  .copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 10px;
  }

}